node_modules
.DS_store

/packages/**/build
/packages/**/dist

/apps/**/build
/apps/**/.cache
/apps/**/server-build
.env

/apps/**/prisma/data.db
/apps/**/prisma/data.db-journal

/apps/**/test-results/
/apps/**/coverage

/apps/**/other/cache.db

# Easy way to create temporary files/folders that won't accidentally be added to git
*.local.*

.turbo